<?php $user = $this->requestAction('users/loggeduser'); ?>
<div id="navigation2" style="padding-left: 0">	
	<div class="btn-group">		
		<?php echo $this->Html->link('Add New', array('action' => 'add'), array('class' => 'btn btn-sm btn-primary')); ?>
		<?php echo $this->Html->link('Browse', array('action' => 'index'), array('class' => 'btn btn-sm btn-primary')); ?>				
	</div>	
</div>
