<?php $user = $this->requestAction('users/loggeduser'); ?>
<div id="navigation2" style="padding-left: 0">	
	<div class="btn-group">
		<?php echo $this->Html->link('Upload', array('controller' => 'schoolgrades', 'action' => 'upload'), array('class' => 'btn btn-sm btn-primary')); ?>	
		<?php echo $this->Html->link('Browse', array('controller' => 'schoolgrades', 'action' => 'index'), array('class' => 'btn btn-sm btn-primary')); ?>				
	</div>	
</div>
