<?php $user = $this->requestAction('users/loggeduser'); ?>
<div id="navigation2" style="padding-left: 0">	
	<div class="btn-group">
		<?php //echo $this->Html->link('Browse', array('controller' => 'studentschoolyears', 'action' => 'index'), array('class' => 'btn btn-xs btn-primary')); ?>	
		<?php echo $this->Html->link('Browse All', array('controller' => 'students', 'action' => 'index'), array('class' => 'btn btn-xs btn-primary')); ?>	
		<?php //echo $this->Html->link('Batch Upload', array('controller' => 'students', 'action' => 'batchupload'), array('class' => 'btn btn-xs btn-primary')); ?>
			<!--<div class="btn btn-primary dropdown">
			 <?php echo $this->Html->link('Code of Indicators', array(), array('class' => 'danger')); ?>									
			<ul class="dropdown-menu" role="menu">			  
			  <li><?php echo $this->Html->link('Browse', array('controller' => 'studentindicators', 'action' => 'index'), array('class' => '')); ?>		</li>
			  <li><?php echo $this->Html->link('Add New', array('controller' => 'studentindicators', 'action' => 'add'), array('class' => '')); ?>		</li>			  
			</ul>
		 </div> -->
		
			 <?php //echo $this->Html->link('Grades', '#', array('class' => 'dropdown btn btn-xs btn-primary', 'role' => 'menu', 'escape' => false)); ?>									
					  
			 <?php //echo $this->Html->link('Browse Grades', array('controller' => 'schoolgrades', 'action' => 'index'), array('class' => 'btn btn-xs btn-primary')); ?>		
			 <?php //echo $this->Html->link('Upload Grades', array('controller' => 'schoolgrades', 'action' => 'upload'), array('class' => 'btn btn-xs btn-primary')); ?>				  
			
		
		<!--<div class="btn btn-primary dropdown">
			 <?php echo $this->Html->link('Summary Reports', array(), array('class' => 'danger')); ?>									
			<ul class="dropdown-menu" role="menu">			  
			  <li><?php echo $this->Html->link('School Form 137', array('controller' => 'schoolgrades', 'action' => 'reportinitiate'), array('class' => '')); ?>		</li>			  
			  <li><?php echo $this->Html->link('School Form 1 ( SF 1 )', array('controller' => 'students', 'action' => 'form1report'), array('class' => '')); ?>		</li>			  			  
			  <li><?php echo $this->Html->link('School Form 5 ( SF 5 )', array('controller' => 'students', 'action' => 'reportinitiate'), array('class' => '')); ?>		</li>			  
			  <li><?php echo $this->Html->link('School Form 6 ( SF 56 )', array('controller' => 'gradelevels', 'action' => 'reportinitiate'), array('class' => '')); ?>		</li>			  
			</ul>
		 </div>--> 
	</div>	
</div>
