<div class="periodicothers index">
	<h2><?php echo __('Periodicothers'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('student_id'); ?></th>
			<th><?php echo $this->Paginator->sort('gradelevel_id'); ?></th>
			<th><?php echo $this->Paginator->sort('gradesection_id'); ?></th>
			<th><?php echo $this->Paginator->sort('schoolyear_id'); ?></th>
			<th><?php echo $this->Paginator->sort('teacher_id'); ?></th>
			<th><?php echo $this->Paginator->sort('advance_units'); ?></th>
			<th><?php echo $this->Paginator->sort('lacks_units'); ?></th>
			<th><?php echo $this->Paginator->sort('classified_as'); ?></th>
			<th><?php echo $this->Paginator->sort('added'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($periodicothers as $periodicother): ?>
	<tr>
		<td><?php echo h($periodicother['Periodicother']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($periodicother['Student']['full_name'], array('controller' => 'students', 'action' => 'view', $periodicother['Student']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($periodicother['Gradelevel']['name'], array('controller' => 'gradelevels', 'action' => 'view', $periodicother['Gradelevel']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($periodicother['Gradesection']['name'], array('controller' => 'gradesections', 'action' => 'view', $periodicother['Gradesection']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($periodicother['Schoolyear']['name'], array('controller' => 'schoolyears', 'action' => 'view', $periodicother['Schoolyear']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($periodicother['Teacher']['name'], array('controller' => 'teachers', 'action' => 'view', $periodicother['Teacher']['id'])); ?>
		</td>
		<td><?php echo h($periodicother['Periodicother']['advance_units']); ?>&nbsp;</td>
		<td><?php echo h($periodicother['Periodicother']['lacks_units']); ?>&nbsp;</td>
		<td><?php echo h($periodicother['Periodicother']['classified_as']); ?>&nbsp;</td>
		<td><?php echo h($periodicother['Periodicother']['added']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $periodicother['Periodicother']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $periodicother['Periodicother']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $periodicother['Periodicother']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $periodicother['Periodicother']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Periodicother'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Students'), array('controller' => 'students', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Student'), array('controller' => 'students', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Gradelevels'), array('controller' => 'gradelevels', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Gradelevel'), array('controller' => 'gradelevels', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Gradesections'), array('controller' => 'gradesections', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Gradesection'), array('controller' => 'gradesections', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Schoolyears'), array('controller' => 'schoolyears', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Schoolyear'), array('controller' => 'schoolyears', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Teachers'), array('controller' => 'teachers', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Teacher'), array('controller' => 'teachers', 'action' => 'add')); ?> </li>
	</ul>
</div>
