<?php
	$user = $this->requestAction('users/loggeduser');
	echo '<div class="logged-user">';
		echo '<div>'.__('Welcome! ').' '.$user['User']['full_name'].' | '.$this->Html->link('Change Password', array('controller' => 'users', 'action' => 'changepassword', $user['User']['id'])).' | '.$this->Html->link('Logout Account', array('controller' => 'users', 'action' => 'logout')).'</div>';
		//echo '<ul>';					
			//echo '<li>'.$this->Html->link('Change Password', array('controller' => 'users', 'action' => 'changepassword', $user['User']['id'])).'</li>';			
			//echo '<li>'.$this->Html->link('Logout Account', array('controller' => 'users', 'action' => 'logout')).'</li>';
			//echo '<div class="clear"></div>';
		//echo '</ul>';		
	echo '</div>';
?>