<?php $user = $this->requestAction('users/loggeduser'); ?>

	<div class="btn-group pull-left noradius">
		<?php echo $this->Html->link('<i class="glyphicon glyphicon-plus"></i> Enroll New Student', array('controller' => 'students', 'action' => 'add'), array('class' => 'noradius btn btn-success btn-sm', 'escape' => false)); ?>
		<?php //echo $this->Html->link('<i class="glyphicon glyphicon-user"></i> Students', array('controller' => 'studentschoolyears', 'action' => 'index'), array('class' => 'noradius btn btn-default btn-sm', 'escape' => false)); ?>
		<?php //echo $this->Html->link('<i class="glyphicon glyphicon-user"></i> Students', array('controller' => 'students', 'action' => 'teacher_students'), array('class' => 'noradius btn btn-default btn-sm', 'escape' => false)); ?>
		<?php $this->App->modal_link_ad('<i class="glyphicon glyphicon-user"></i> Students', 'filterstudent');  ?>
		<!--<div class="btn btn-primary"><?php echo $this->Html->link('Students', array('controller' => 'students', 'action' => 'index'), array('class' => 'danger')); ?></div>-->
		<?php echo $this->Html->link('<i class="glyphicon glyphicon-flash"></i> Teachers', array('controller' => 'teachers', 'action' => 'index'), array('class' => 'noradius btn btn-default btn-sm', 'escape' => false)); ?>
		<?php echo $this->Html->link('<i class="glyphicon glyphicon-filter"></i>Grade Levels', array('controller' => 'gradelevels', 'action' => 'index'), array('class' => 'noradius btn btn-default btn-sm', 'escape' => false)); ?>
		<?php echo $this->Html->link('<i class="glyphicon glyphicon-plus-sign"></i> Sections', array('controller' => 'gradesections', 'action' => 'index'), array('class' => 'noradius btn btn-default btn-sm', 'escape' => false)); ?>			
		<?php echo $this->Html->link('<i class="glyphicon glyphicon-plus-sign"></i> S.Y.', array('controller' => 'schoolyears', 'action' => 'index'), array('class' => 'noradius btn btn-default btn-sm', 'escape' => false)); ?>	
		<?php echo $this->Html->link('<i class="glyphicon glyphicon-briefcase"></i> Reports', array('controller' => 'reports', 'action' => 'index'), array('class' => 'noradius btn btn-default btn-sm', 'escape' => false)); ?>	
		<?php echo $this->Html->link('<i class="glyphicon glyphicon-cog"></i> Settings', array('controller' => 'users', 'action' => 'settings'), array('class' => 'noradius btn btn-default btn-sm', 'escape' => false)); ?>		
		<?php echo $this->Html->link('<i class="glyphicon glyphicon-cog"></i> Subjects', array('controller' => 'subjects', 'action' => 'index'), array('class' => 'noradius btn btn-default btn-sm', 'escape' => false)); ?>		
	</div>
			
		<?php echo $this->Html->link('<i class="glyphicon glyphicon-off"></i> Logout', array('controller' => 'users', 'action' => 'logout'), array('class' => 'noradius btn btn-danger btn-sm pull-right', 'escape' => false)); ?>				


<div class="clear"></div>
