<?php echo $this->element('submenu/places'); ?>
<div class="provinces form col-md-4 nopadding">
<?php echo $this->Form->create('Province'); ?>
	<?php
		echo $this->Form->input('name');
	?>
	</fieldset>
<?php echo $this->App->formbtn(__('Save')); ?>
</div>
