@charset "utf-8";
/* CSS Document */


/* ---------------------------------------------------------------------- */
/* HTML5/CSS3 Gray Navigation Menu 
/* ----------------------------------------------------------------------
Version: 1.0
Author: Ixtendo
Author URI: http://www.ixtendo.com
License: MIT License
License URI: http://www.opensource.org/licenses/mit-license.php
------------------------------------------------------------------------- */


* {
	margin: 0;
	padding: 0;
	outline: none;	
}

ul {
	list-style: none;	
}

/*#logo{height: 85px; width: 100%; background: url(../img/site-img/hr_userchecklist.png) left no-repeat;}*/
#logo{	
	/*background: url(../img/tables/nav3.png) left repeat-x; */
	/*background: #1f1f20;*/
	background: #666;		
	width: 100%;
	padding: 0;	
}
table tr td.actions1 a{color: #fff !important; text-decoration: none !important; font-weight: normal !important;}
.noborder{border: none !important;}
.panel{border-radius: 0 0 0 0 !important;}
#modalview{overflow-y: scroll !important; min-height: 500px !important; height: 500px;}
.wbg{}
.modal, modal-content, modal-body{border-radius: 0 0 0 0 !important;}
form input.red{background: red !important; color: #fff !important;}
form input.yellow{background: yellow !important; color: #000 !important;}
.bolder{font-weight: bold !important;}
table.smalltable{font-size: 11px !important;}

.center{text-align: center !important;}
.welcome-user{padding: 0; text-align: right;}
.welcome-ip{padding: 0 10px; text-align: left; font: bold 9px arial, heveltica, sans-serif;}
.welcome-user a:hover{text-decoration: underline;}

.clear{clear: both;}
.nopadding{padding: 0 0 0 0 !important;}
.nopadding-left{padding-left: 0 !important;}
.nopadding-right{padding-right: 0 !important;}
.noradius{border-radius: 0 0 0 0 !important;}
#navigation, #navigation2, #navigation3 {	
	/*font: bold 12px arial, heveltica, sans-serif;	*/	
	font-weight: normal;	
	color: #444;
	margin: 0 0 0 0;
	padding: 5px 50px;
	text-transform: uppercase;
}

#navigation:after, #navigation2:after , #navigation3:after {
	clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#navigation ul, #navigation2 ul, #navigation3 ul {		
    overflow: hidden;
}

#navigation2 ul.mainmenu{	
	width: 100%;
	min-width: 1000px;
}


#navigation li, #navigation2 li {
	float: left;
	/*border-bottom: 1px solid #666666 !important;	
	/*background: #4D4D4D; /* Old browsers */	
}

#navigation3 li{	
	/*border-bottom: 1px solid #fff !important;*/
	background: #666; /* Old browsers */		
	float: left;		
}

#navigation3{background: transparent; padding: 0; margin-left: 165px;}
#navigation{background: transparent; padding: 0; margin-left: 165px;}
#navigation li {
	float: left;
}


select.birthdate{width: auto !important; display: inline !important;}

#navigation li:hover, #navigation li.current, #navigation2 li:hover, #navigation2 li.current, #navigation3 li:hover, #navigation3 li.current {
	/*border-color: #262626 !important;
	border-left: 1px solid #666666 !important;
	background: red; /* Old browsers */	
}
#navigation2 a.danger{
	color: #FFFFFF !important;
}

#navigation a, #navigation2 a{
	
	text-decoration: none;
	text-transform: none;
	
}

#navigation2 a.activemenu{background: red;}

#navigation3 a{
	display: block;
	padding: 10px 15px;
	color: #fff;
	text-decoration: none;		
	font-size: 12px;
}

#navigation a:hover, #navigation li.current a, #navigation2 a:hover, #navigation2 li.current a, #navigation3 a:hover, #navigation3 li.current a {
	text-decoration: none;
	
	/*text-shadow: 0 1px #000;*/
	/*font-weight: bold;*/
	
}


#navigation li:first-child, #navigation2 li:first-child {
	/*border-left-color: #BABABA;*/
}

#navigation li:last-child, #navigation2 li:last-child {
}

#navigation2 ul.mainmenu li:hover{border: none;}
#navigation2 ul.mainmenu li a img{width: 18px; height: 18px; margin: -3px 0 0 0; padding: 0;}
#navigation2 ul.mainmenu li ul.submenu{visibility: hidden; width: auto; position: absolute; top: 32px; left: 300px; padding: 10px 10px;}
#navigation2 ul.mainmenu li ul.submenu{text-align: left; background: #f4f2f2;}
#navigation2 ul.mainmenu li ul.submenu li{display: inline; clear: both;}
#navigation2 ul.mainmenu li ul.submenu li a{padding: 5px 5px; width: 160px; font-size: 12px;}
#navigation2 ul.mainmenu li ul.submenu li a:hover{text-decoration: underline;}

div#container{min-width: 100%; width: 100%; height: auto; padding: 0; margin: 0 auto;}
div.main-wrap{margin-top: 15px;}
div.top-text-header{text-align: center; font-weight: bold; margin-top: 20px;}
/*div.main-wrap-inner{background: url(../img/site-img/bgnoise_lg.png) repeat left top; border: 1px solid #ccc; padding: 10px 10px;}*/
div.main-wrap-header{border-right: 1px solid #ccc; width: 165px; min-width: 165px; position: absolute; left: 0; top: 0; background: url(../img/site-img/bgnoise_lg.png) left top repeat;}
div.main-wrap-inner{min-width: 100%; width: 100%; padding: 0; background: #fff;}	
div.main-wrap-inner-header{padding: 5px 10px; width: 100%; background-color: #fffff;}
div.header-c{width: 100%; background: #fff;}
div.main-wrap-inner-body{background: #fff; padding: 10px 30px;}
div.title-header-page{box-shadow: 5px 5px 5px #888; width: 100%; top: 0; font-size: 12px; font-weight: bold; border-bottom: 1px solid #666;  background: #f4f2f2;}
div.before-content-layout{}
.separator20{height: 20px;}
.btn{border-radius: 0 0 0 0 !important;}
/*form*/
div.groups-form{padding: 10px; background: #fff;}
div.end-form{text-align: center; border-top: 1px solid #ccc; padding: 10px 0;}
div.message-response{background: #fff; margin: 5px 0 3px 0;}
div.message-response .error_message img, .success_message img{width: 15px; margin-right: 3px;}
div.success_message{color: green; border-left: 5px solid green; padding: 5px; font-size: 11px; background: #f4f2f2;}
div.success_message a{color: blue; text-decoration: none;} 
div.success_message a:hover{color: #666; text-decoration: underline;	} 
div.error_message{color: red; border-left: 5px solid red; padding: 5px; font-size: 11px; background: #f4f2f2;} 
.clear{clear: both;}
.error{color: red; font-size: 12px; font-weight: bold; border: 2px solid red; padding: 3px 5px;}
div.process_message{font-size: 12px; font-weight: bold;}
/*direct search applicant*/
form{text-align: left;}
form label{font-size: 12px; font-weight: bold; clear: both !important; width: 100% !important;}
form input{padding: 3px 10px; border: 1px solid #ccc; margin-top: 5px;}
form input.normalsearchinput{	
	width: 270px; 
	padding: 5px 10px; 
	border: 1px solid #fff; 
	background: url(../img/icons/search.png) right no-repeat; 
	background-color: #ffffff;	
	border-radius: 5px !important;		
}
div.hidebutton{display: none;}
div#search-result{}
div.applicantfound{padding: 20px 10px; background: #f55353; width: 300px; position: absolute; top: 75px; left: 650px; text-align: left; font-size: 12px; border: 3px solid #fff; box-shadow: 5px 5px 5px #888;}
div.applicantfound a{color: #fff; text-decoration: none; font-weight: bold;}
div.applicantfound a:hover{text-decoration: underline;}
div.result-index{margin-top: 10px; color: #fff; font-weight: bold; font-size: 11px; color: #fff; border-top: 1px dashed #000;}

input.continuesave{
	background: green;
	color: #fff;
	border: 1px solid #ccc;
	padding: 10px 20px;
	margin: 2% 0;
	font-size: 11px;
	font-weight: bold;
	border-radius: 8px 8px;
}
input.continuesave:hover{background: red;}
select.trigger-time{padding: 5px 10px;}
input.form-control{padding: 5px 10px;}
input.submitbtn{
	border: 1px solid green;
	background: green;
	color: #fff;
	outline: none;
	border: none;
	/*text-indent: -1000em;*/
	padding: 10px 20px;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	margin: 0 auto;
	border-radius: 15px 15px;
	margin-top: 10px;
}

/*
input.submitbtn:hover{background: url(../img/menus/submit-button03.png) center no-repeat; }
button.cancelbtn:hover{background: url(../img/menus/cancel-button03.png) center no-repeat; }
*/

button.cancelbtn{
	background: url(../img/menus/cancel-button04.png) center no-repeat; 	
	outline: none;
	border: none;
	text-indent: -1000em;
	width: 98px;
	height: 28px;
	cursor: pointer;
	float: left;
}




/*paging*/
div.page-status{background: #fff; color: #000; font-weight: bold; padding: 5px 0;}
div.page-status .page-status-inner{padding: 2px 5px; text-align: left; font-size: 10px;}
div.page-status{font-size: 13px; text-align: left; text-transform: uppercase;}
div.page-status a{color: #000; padding: 5px 5px; text-decoration: none; border: 1px solid #ccc;}
ul.toph{margin: 0;}
input.normalinput{border: 1px solid red;}
/*
div.paging .next a{padding: 0; text-decoration: none; border: none;}
div.paging .previous a{padding: 0; text-decoration: none; border: none;}
div.paging .previous a:hover{background: transparent; text-decoration: underline;}
div.paging .next a:hover{background: transparent; text-decoration: underline;}
div.paging .next, .previous{background: #fff; font-size: 11px; float: left; padding: 3px 4px; font-weight: bold; text-decoration: none; color: #666; border-right: 1px solid #ccc;}
div.paging .inside-paging .numbers a{padding: 0; text-decoration: none; border: none;}
div.paging .inside-paging .numbers{background: #fff; color: red; float: left; font-weight: bold; padding: 3px 4px; border-right: 1px solid #ccc; font-size: 11px;}
div.paging .inside-paging .numbers a:hover{text-decoration: underline;}

div.paging .inside-paging{padding: 0; margin: 0; float: left; width: auto;}*/
div.search-form{margin-bottom: 5px;}
div.search-form form .searchdate{float: left;}
div.search-form form select{padding: 1px 5px;}
div.search-form form input{float: left; width: 200px; padding: 5px 8px; color: #000; border: 1px solid #ccc;}
div.search-form form input.searchbtn{float: left; width: 20px; height: 20px;}
div.search-form form input.searchbtn{
	background: url(../img/menus/search-button04.png) center no-repeat; 	
	outline: none;
	border: none;
	text-indent: -1000em;
	width: 98px;
	height: 23px;
	cursor: pointer;
	float: left;	
}

div.logged-user{background: #fff; font-weight: bold; font-size: 12px; padding: 5px 0; text-align: right; border-bottom: 1px solid #f4f2f2;}
div.logged-user ul{min-width: 600px;}
div.logged-user ul li{float: right; padding: 2px 0;}
div.logged-user ul li a{font-size: 12px; font-weight: bold; padding: 2px 5px; text-decoration: none; text-decoration: underline;}
div.logged-user ul li a:hover{color: #666;}
div.related{margin-bottom: 5px;}
div.applicant-picture{float: left; width: 100px; height: 100px; border: 1px solid #ccc; margin-top: 5px;}
div.applicant-region-area{margin: 5px 0 0 0;}
div.applicant-region-area p{font-size: 12px;}
div.applicant-information{float: left; width: 600px; height: auto; margin: 0 0 0 5px; padding: 10px 0;}
div.applicant-information p{font-weight: bold; line-height: 1.1em;}
div.below-table-link{padding: 0 0; background-color: #fff;}
div.below-table-link a{
	color: #fff; 
	padding: 8px 8px;
	text-decoration: none; 	
	float: left;	
	font-size: 9px;	
	text-transform: uppercase;
	background-color: #f55353;
	font-weight: bold;		
	/*margin-right: 2px;	
	border-radius: 8px;
	border: 2px solid #ccc;*/
}

div.below-table-link a:hover{background: #f4f2f2; color: #000;}
div.examinations-view{font-weight: bold;}
div.examinations-view{padding: 20px 0 0 0;}
div.examinations-view div.day{color: green; font-size: 20px;}
div.examinations-view div{line-height: 14px;}
div.examinations-view div.status{font-size: 12px;}
div.examination-receiver{}
div.examination-receiver .examination-receiver-inside{padding: 5px; font-size: 12px; font-weight: bold;}
div.result-box{width: auto; font-size: 12px; margin-top: 10px;}
div.inner{}
div.dm, .dmd{float: left; width: 150px; margin-left: 20px;} 
div.pdf-link{text-align: center; margin-top: 50px;}
div.pdf-link a{padding: 10px 20px; font-size: 16px; font-weight: bold; color: #fff; background: green; border-radius: 8px 8px 8px 8px;}
div.separator-nav{border: 1px solid red; width: 10px; height: 10px; float: left;}


div.wrapper{margin: 0 auto; width: 100%;}
div.header{text-align: center;}
div.header .f-header{font-weight: bold; font-size: 20px; color: green;}
div.as-of{text-align: center; color: blue;}
div.content{padding: 10px 20px;}
div.separator-top{border-top: 1px solid #ccc; padding: 5px 0;}
div.separator-bottom{border-bottom: 1px solid #ccc; padding: 5px 0;}
div.einfo{border: 1px solid #ccc; padding: 10px 20px; background: #f4f2f2;}
div.m-d{font-size: 12px; font-weight: bold;}

.label-text{padding: 0 10px; width: 180px;}
.before-input{margin-top: 5px;}
.loading-image{height: 20px; padding: 2px 0; position: absolute; top: 50%;}

.nodisplay{display: none;}
form{}
form fieldset{border: none;}
form label{padding: 0 0 0 0 !important; margin: 10px 0 0 0 !important;}
form input[type="text"], form textarea, form select{padding: 3px 8px !important; width: 100%; margin: 0 0 0 0 !important;}
select.normalinput{width: 80%; padding: 3px 8px;}
select.normalinput2{width: 100%; padding: 3px 8px;}
form select#StudentBirthdateMonth, form select#StudentBirthdateDay, form select#StudentBirthdateYear{width: auto !important;}
form select#StudentDateOfEntranceMonth, form select#StudentDateOfEntranceDay, form select#StudentDateOfEntranceYear{width: auto !important;}

.footer{text-align: left; font-size: 11px; color: #ccc; background: #f4f2f2; padding: 5px 50px;}
h3.default{padding: 5px 8px; background: #f4f2f2; border: 1px solid #ccc; font-size: 16px; font-weight: bold;}
.no-padding-left{padding-left: 0;}
.no-padding-right{padding-right: 0;}
.no-margin-right{margin-right: 0;}
.no-margin-left{margin-left: 0;}
.dropdown:hover .dropdown-menu {
	display: block;
}
ul.dropdown-menu{margin-top: -1px; broder-radius: none;}
ul.dropdown-menu li{width: 100%;}