@charset "utf-8";
/* CSS Document */
table{width: 100%; border: 1px solid #ccc;}
table th{text-align: left; padding: 0 3px; border: 1px solid #666;}
table th a{color: #666; text-decoration: none;}
table th a:hover{color: red; text-decoration: underline;}
table tr.table-header th{font: bold 12px arial, heveltica, sans-serif; background: #ccc; padding: 5px 5px; border-bottom: 1px solid #666;}
table tr.table-information td{padding: 2px 5px; border-bottom: 1px solid #ccc; font: bold 12px arial, heveltica, sans-serif; background: #f4f2f2;}
table tr.table-information2 td{text-align: left;  padding: 2px 5px; border-bottom: 1px solid #ccc; font: bold 12px arial, heveltica, sans-serif; background: #fff;}
table tr.table-information3 td{background: #fff; padding: 2px 5px;}
/*table tr.table-information2 td:hover, tr.table-information td:hover{background: #f4f2f2;}*/
table tr.table-information td a{color: #013a7a; text-decoration: none; font-size: 11px;}
table tr.table-information2 td a{color: #013a7a; text-decoration: none; font-size: 11px;}
table tr.table-information td a:hover{color: blue;}
table tr.table-information2 td a:hover{color: blue;}
table tr.table-information td.actions{text-align: center; width: 115px;}
table tr.table-information2 td.actions{text-align: center; width: 115px;}
table tr.table-information td.actions img{width: 15px;}
table tr.table-information2 td.actions img{width: 15px;}
table tr.table-information img, tr.table-information2 img{width: 15px;}
.clear{clear: both;}
.nopadding{padding: 0 0 0 0 !important;}
.nopadding-left{padding-left: 0 !important;}
.nopadding-right{padding-right: 0 !important;}
/*paging*/
div.page-status{background: #013a7a; width: 100%; color: #fff;}
div.page-status .page-status-inner{padding: 5px 10px; text-align: left; font-size: 9px;}
div.paging{padding: 0 5px; border-bottom: 1px solid #666;}
div.paging, div.page-status{font-size: 9px; text-align: left; text-transform: uppercase;}
div.paging a, div.page-status a{color: #000; padding: 5px 5px; text-decoration: none; border: 1px solid #ccc;}
div.paging a:hover{color: #fff; background: green; border: 1px solid green;}
div.paging{text-align: left; color: #000; background: url(../img/tables/nav3.png) left repeat-x; padding: 7px 0; font-size: 10px; }

/*forms*/
div.message-response{background: #fff; margin: 5px 0 3px 0;}
div.message-response .error_message img, .success_message img{width: 15px; margin-right: 3px;}
div.success_message{color: green; border: 1px solid green; padding: 5px; font: bold 12px arial, heveltica, sans-serif;}
div.success_message a{color: blue; text-decoration: none;} 
div.success_message a:hover{color: #666; text-decoration: underline;} 
div.error_message{color: red; border: 1px solid red; padding: 5px; font: bold 12px arial, heveltica, sans-serif;}
.clear{clear: both;}
.error{color: red; font: bold 10px arial, heveltica, sans-serif;}
div.form-div{width: 500px; background: #f4f2f2; padding: 0 20px;}
form input.normalinput{width: 350px; padding: 4px 5px; border: 1px solid #ccc; background: #f4f2f2;}
form input.normalinput3{width: 135px; padding: 4px 5px; border: 1px solid #ccc; color: #666;}
form select{font: bold 12px arial, heveltica, sans-serif; padding: 2px 5px; border: 1px solid #ccc; background: #fff;}
form fieldset{padding: 5px 5px; color: #000;}
div.gender{padding: 5px 10px; border: 1px solid #ccc; color: #000; font: 12px arial, heveltica, sans-serif;}
form fieldset legend{font-size: 11px; font-weight: bold; color: #666; text-transform: uppercase;}
form textarea{width: 400px; height: 100px; border: 1px solid #ccc; padding: 5px;}
div.form-label{font-size: 12px; color: #000; margin-top: 5px;}
div.inside-form{padding: 0;}

form input.normalbtn, button{
	margin: 5px 0;
	float: left;
	padding: 2px 5px;
	font: bold 11px arial, heveltica, sans-serif;
	text-transform: uppercase;
	color: #fff;
	box-shadow: 0 1px rgba(255,255,255,0.2) inset;
	-webkit-box-shadow: 0 1px rgba(255,255,255,0.2) inset;
	border-color: #262626 !important;
	background: #4D4D4D; /* Old browsers */
	background: -moz-linear-gradient(top, #4D4D4D 0%, #262626 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4D4D4D), color-stop(100%,#262626)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* IE10+ */
	background: linear-gradient(top, #4D4D4D 0%,#262626 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D4D4D', endColorstr='#262626',GradientType=0 ); /* IE6-9 */	
}

form input.normalbtn:hover{	
	background: red;
}

div.cus-table{}
div.sp-indexing{float: left; margin: 0 0 0 2px;}
div#busy-indicator img{display: none;}
div.missing{color: red; font-size: 15px;}
div.login-error{color: red; padding: 5px; border: 1px solid red; font: 11px arial, heveltica, sans-serif;}
div.login-wrap{width: 400px; background: #fff;}
div.before-login{width: 400px; padding: 10px; background: #013a7a;}

/************************************
************************************/
div.applicant-image{float: left; width: 120px; height: 110px; border: 1px solid #ccc;}
div.applicant-image img{width: 120px; height: 110px;}
div.applicant-info{float: left; margin-left: 5px;}
div.applicants-view{padding: 10px 0;}
div.applicants-view h4{margin: 4px 0 4px 0; color: blue; padding: 4px 10px; border: 1px solid #ccc; font: bold 12px arial, heveltica, sans-serif;}
div.small-font{text-transform: uppercase; font-size: 10px;}
div.small-font a{background: green; color: #fff; padding: 3px 5px; text-decoration: none; font-size: 10px;}
div.small-font a:hover{background: red; text-decoration: underline;}
div.search-temp-fieldset{padding: 5px 10px; border: 1px solid #ccc; background: #333; color: #fff; width: 220px; float: left; margin-left: 2px;}'
/*********************************
*********************************/
div.examination-header{text-align: center; font-size: 12px;}
ol.applicant-list{padding: 10px 10px; margin: 0 10px; font: 12px verdana, heveltica, sans-serif;}

div.assessmentdata{padding: 5px 10px; font: 12px arial, heveltica, sans-serif; border: 1px solid #ccc;}
div.searchuser{font: bold 12px arial, heveltica, sans-serif; padding: 10px; background: #ccc;}

div.user-image{width: 100px; height: 100px; float: left;}
div.user-image2{width: 50px; height: 50px; padding: 3px 0 0 0; margin: 0 auto;}
div.user-information{float: left; width: 250px; border-right: 1px dashed #ccc; margin-left: 5px; padding: 10px 0; font-size: 12px;}
div.user-information2{float: left; width: 210px; border-right: 1px dashed #ccc; margin-left: 5px; padding: 10px 0; font-size: 12px;}
div.user-information3{padding: 2px 10px 8px 10px; font-size: 10px; text-align: left; line-height: 10px;}
div.user-information2 a{color: blue; text-decoration: none; text-transform: uppercase; font-size: 10px;}
div.user-information a{color: blue; text-decoration: none;}
div.user-information a:hover{color: red;}
div.user-information2 a:hover{color: #666; text-decoration: underline;}
div.user-information h3{font: bold 20px arial, heveltica, sans-serif; text-transform: uppercase;}
div.branch{font: bold 20px arial, heveltica, sans-serif; color: green;}

div#search-result{padding: 0 8px; height: auto; background: #cbf7e1; width: 300px; position: absolute;}
div#search-result a.edituser{color: blue; font-size: 9px; text-transform: uppercase;}
div#search-result a.edituser:hover{color: red;}
div#search-result a{color: blue; text-decoration: none;}
div#search-result a:hover{color: red;}
table tr td div.error-upload-result a{color: red;}
table tr td div.ok-upload-result a{color: green;}

div.assessment-title{text-transform: uppercase; font: bold 14px arial, heveltica, sans-serif; text-align: center;}
div.user_menus{border-bottom: 1px solid #ccc; text-align: right; padding: 2px 0;}
ul.user_menu{list-style: none; margin-left: 160px;}
ul.user_menu li.user_menu{float: left; width: 150px;}
ul.user_menu li.user_menu img{width: 150px;}

div.before-topachievers{}
div.name{font-weight: bold;}
div.before-topachievers ol{padding: 2px 30px; margin: 0 0 0 10px; font-weight: bold; text-align: left;}
div.before-topachievers ol li{padding: 5px 0; margin-top: 1px; border-bottom: 1px dashed #ccc;}
div.topachievers{margin-top: 1px; padding: 2px 10px; font: 12px arial, heveltica, sans-serif; font-weight: bold;}
div.topachieversl{border: 1px solid #ccc; margin-top: 1px;}
div.topachievers-inner{text-align: left; text-transform: uppercase; font-size: 10px; font-weight: bold; padding: 0 10px;}

ul.printlink{list-style: none; padding: 0; margin: 0 0 0 0; border-bottom: 1px solid #ccc;}
ul.printlink li.pdf{background: url(../img/pdf.png) left no-repeat; padding: 5px 0 5px 23px; text-align: left; width: auto;}
ul.printlink li.pdf a, li.csv a{font-size: 11px; color: #000; font-weight: bold;}
ul.printlink li.pdf a:hover, li.csv a:hover{color: red; text-decoration: underline;}
ul.printlink li.csv{background: url(../img/csv.jpg) left no-repeat; padding: 5px 23px; text-align: left;}

div.user-ip{padding: 2px 10px; margin: 0; background: #fff; font-size: 11px;}
div.user-ip img{margin: 0 0 -1px 0; width: 250px;}
div.user-ip a{text-transform: uppercase; color: green; text-decoration: none;}
div.user-ip a:hover{text-decoration: underline;}

div.schedule-found{background: green; color: #fff; text-align: center; font-size: 16px; width: 80px; margin: 2px 0 0 0; font-weight: bold;}
div.schedule-found .inner{padding: 10px;}

/*
| Online users
*/ 
div.online-users{text-align: right; background: #fff; border-top: 1px solid #ccc; position: fixed; bottom: 0px; width: 100%;}
div.online-users .inner-div{padding: 2px 10px; text-transform: uppercase; font-weight: bold; font-size: 11px;}

/**
| Support
*/

div.support{height: auto width: 165px; min-width: 165px; background: #fff; border-bottom: 1px solid #ccc;}
div.support-inner{height: auto; width: 100%; min-width: 165px;}
div.support-text{text-align: left; padding: 3px; font-size: 11px; font-weight: bold;}
div.support-header{text-align: left; background: green; color: #fff; text-transform: uppercase; font-size: 11px; font-weight: bold; padding: 3px 10px; border-bottom: 1px solid #ccc;}
div.support-text ul.contact{background: url(../img/support/contact.jpg) left no-repeat;}
div.support-text ul.email{background: url(../img/support/email.jpg) left no-repeat;}
div.support-text  ul.contact, ul.email{height: auto; width: 165px; padding: 4px 0; margin: 0;}
div.support-text ul.contact li, ul.email li{margin: 0 0 0 40px;}

div.user-menu ul.user-menu{padding: 0; margin: 0;}
div.user-menu ul.user-menu li{float: left; width: auto; margin: 0 1px; padding: 20px 10px; background: #f4f2f2; border: 1px solid #ccc;}
div.user-menu ul.user-menu li a{text-transform: uppercase; text-decoration: none; font-size: 11px; font-weight: bold; color: #000;}

div.download-btn{margin: 5px 0;}
div.download-btn a{padding: 3px 5px; background: green; color: #fff; text-decoration: none; text-transform: uppercase; font-size: 10px;}
div.form-container{padding: 10px 20px;}
div.inside-form-container{border-bottom: 1px solid #f4f2f2; padding: 5px 0;}