body{padding: 0; margin: 0; font: 12px arial, heveltica, sans-serif;}

table.group td.gname{text-align: right;}
table.group td.gbuton{text-align: center;}
table.group td input.groupinput{width: 300px; padding: 3px;}

div.header{padding: 10px 0; border-bottom: 1px solid #ccc;}
div.menu_inner a{float: left; padding: 5px 5px; border: 1px solid #ccc; margin-left: 2px; text-decoration: none; color: #000;}
div.menu_inner a:hover{background: red; color: #fff;}
div.class{clear: both;}

div.error_message{background: #fff; color: red; text-align: center; padding: 3px; border: 1px solid red;}
div.success_message{background: #fff; color: green; text-align: center; padding: 3px; border: 1px solid green;}
.error{color: red;}

table.login_table{padding: 10px; background: #ccc;}
table.login_table td.login_label{text-align: right;}
table.login_table td.login_input input{width: 200px; padding: 3px 5px; border: 1px solid #ccc;}

table td.post_input input{padding: 3px 5px; border: 1px solid #ccc; width: 300px;}
.clear{clear: both;}
.nopadding{padding: 0 0 0 0 !important;}
.nopadding-left{padding-left: 0 !important;}
.nopadding-right{padding-right: 0 !important;}