body, html{padding: 0; margin: 0; font: 11px arial, heveltica, sans-serif; background: #fff;}
/*div.content{background: url(../img/login/login_main_background.png) left repeat-x; width: 100%; height: 100%; position: absolute;}*/
div.content{width: 100%; height: 100%; position: absolute; background: url(../img/site-img/bgnoise_lg.png) left top repeat; }
input.subtn{cursor: pointer; border-radius: 8px 8px; float: left; background: green; margin-top: 10px; color: #fff; border: none; padding: 10px 10px; font-size: 12px; font-weight: bold;}
button.subtn{float: left; background: url(../img/login/login_button.png) center no-repeat; border: none; padding: 5px; width: 100px; height: 34px; color: #000; font-size: 10px; font-weight: bold;}
input.normalinputfield{font-weight: bold; font-size: 18px; width: 100%; padding: 5px 10px; background: #fff; border: 2px solid #ccc;}
form{padding: 5px 0;}
div.login-navigation{position: fixed; box-shadow: 0 5px 5px #888; left: 0; top: 0; width: 100%; padding: 5px 10px; border-bottom: 1px solid #ccc; background: #fff;}

div.login-content{width: 100%; background: #fff;}
div.login-inner-content{padding: 0 20px 50px 20px;}
div.login-contact{width: 390px; height: 80px; float: left; margin: 125px 0 0 40px;} 
div.contact-label{color: #000;}

div.inside-logo{width: 100%; padding: 0; margin: 0;}
div.inside-logo .inside-logo-innercontent{margin: 0 auto; width: 305px; padding: 20px 0 0 0;}
div.inside-logo img{width: 300px;}
div.div-separator{padding: 5px 0;}
div.div-separator-2{color: #000; margin-top: 3px; font-size: 12px; font-weight: bold;}
div.error_message{color: red; border: 3px solid red; padding: 5px 5px;}
div.content-handler{width: 800px; height: auto; margin: 0 auto; padding: 0 0 20px 0;}
div.c-content{width: 100%; min-height: 380px; margin-top: 30px;}
div.inside{padding: 0;}
div.contact{float: left; width: 400px; height: 321px; background: url(../img/login/contact.png) center no-repeat;}
div.clear{clear: both;}
div.login-error-message{width: 450px; margin: 70px auto 0 auto; color: #fff;}
div.logo{background: red; height: 30px; border-bottom: 20px solid #fff; margin-top: 60px;}
div.logo-inside{width: 900px; margin: 0 auto; padding: 0 0;}
div.logo-inside img{margin-left: 107px; background: #fff;}
.separator20{height: 20px;}
.btn{border-radius: 0 0 0 0 !important;}
/*Support*/

div.support{height: auto; width: 200px; min-width: 200px; background: #fff;}
div.support-inner{height: auto; width: 100%; min-width: 165px;}
div.support-text{text-align: left; padding: 3px; font-size: 11px; font-weight: bold;}
div.support-header{text-align: left; background: green; color: #000; text-transform: uppercase; font-size: 11px; font-weight: bold; padding: 3px 10px; border-bottom: 1px solid #ccc;}
div.support-text ul.contact{list-style: square;}
div.support-text ul.email{}
div.support-text  ul.contact, ul.email{height: auto; width: 165px; padding: 4px 0; margin: 0;}
div.support-text ul.contact li, ul.email li{margin: 0 0 0 40px;}

div.systeminfo{text-align: center; margin: 0 auto; font-weight: bold; font-size: 12px; color: #666; padding: 10px 0;}