<div class="otherdetails form">
<?php echo $this->Form->create('Otherdetail');?>
	<fieldset>
		<legend><?php echo __('Edit Otherdetail'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('student_id');
		echo $this->Form->input('gradelevel_id');
		echo $this->Form->input('gradesection_id');
		echo $this->Form->input('sy');
		echo $this->Form->input('inc_num_1');
		echo $this->Form->input('inc_num_2');
		echo $this->Form->input('inc_num_3');
		echo $this->Form->input('inc_num_4');
		echo $this->Form->input('inc_num_5');
		echo $this->Form->input('inc_num_6');
		echo $this->Form->input('inc_num_7');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit'));?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('Otherdetail.id')), null, __('Are you sure you want to delete # %s?', $this->Form->value('Otherdetail.id'))); ?></li>
		<li><?php echo $this->Html->link(__('List Otherdetails'), array('action' => 'index'));?></li>
		<li><?php echo $this->Html->link(__('List Students'), array('controller' => 'students', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Student'), array('controller' => 'students', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Gradelevels'), array('controller' => 'gradelevels', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Gradelevel'), array('controller' => 'gradelevels', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Gradesections'), array('controller' => 'gradesections', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Gradesection'), array('controller' => 'gradesections', 'action' => 'add')); ?> </li>
	</ul>
</div>
