<?php echo $this->element('submenu/subjects'); ?>
<div class="gradesections form col-md-3 nopadding">
<?php echo $this->Form->create('Gradesection');?>

		
	<?php
		echo '<label for="">Grade Level</label>';
		echo $this->Form->input('id', array('label' => ''));
		//echo $this->Form->input('gradelevel_id', array('label' => ''));
		echo $this->data['Gradelevel']['name'];
		echo '<label for="">Section Name</label>';
		echo $this->Form->input('name', array('label' => ''));
	?>

<?php echo $this->Form->submit(__('Save Changes'), array('class' => 'btn btn-primary'));?>
</div>
