<?php echo $this->element('submenu/subjects'); ?>
<div class="schoolyears form col-md-3 nopadding">
<?php echo $this->Form->create('Schoolyear');?>

		
	<?php
		echo $this->Form->input('sy_from', array('label' => 'S.Y. From'));
		//echo '<label for="">To</label>';
		//echo $this->Form->input('sy_to', array('label' => '', 'dateFormat' => 'Y', 'type' => 'date', 'minYear' => '1990', 'maxYear' => date('Y')));
	?>

<?php echo $this->Form->submit(__('Save'), array('class' => 'btn btn-primary'));?>
</div>
<br /><br />
