<?php echo $this->element('submenu/subjects'); ?>
<div class="schoolyears form">
<?php echo $this->Form->create('Schoolyear');?>

		
	<?php
		echo '<label for="">Year</label>';
		echo $this->Form->input('id', array('label' => ''));
		echo $this->Form->input('sy_from', array('label' => ''));
		//echo '<label for="">To</label>';
		//echo $this->Form->input('sy_to', array('label' => '', 'dateFormat' => 'Y', 'type' => 'date', 'minYear' => '1990', 'maxYear' => date('Y')));
	?>

<?php echo $this->Form->submit(__('Save Changes'), array('class' => 'btn btn-primary'));?>
</div>
<br /><br />
