<?php
	if (!empty($sections)) {		
		echo '<option value="">'.__('-- Choose --').'</option>';
		foreach ($sections as $section):
			echo '<option value="'.$section['City']['id'].'">'.$section['City']['name'].'</option>';
		endforeach;	
	}else{
		echo '<option value="">No City found.</option>';
	}
?>