<?php
	if (!empty($sections)) {		
		foreach ($sections as $section):
			echo '<option value="'.$section['Barangay']['id'].'">'.$section['Barangay']['name'].'</option>';
		endforeach;	
	}else{
		echo '<option value="">No Barangay found.</option>';
	}
?>