<?php
	if(!empty($infos)){		
		foreach($infos as $info):
			//echo '<td style="'.(($found_error > 0) ? 'background: red; color: #fff;>' : 'background: #fff; color: #000;').'">'.$info.'</td>';
			echo '<td>'.$info.'</td>';
		endforeach;
	}
	echo '</tr>';
?>