@charset "utf-8";
body, html{font-family: Arial;}
a:link{outline: none; font-weight: bold; font-size: 12px;}
a.btn{outline: none;}
a:hover{text-decoration: none;}
.separator-sm{margin: 5px 0;}
.navbar-header a.s-title{font-size: 14px; text-transform: uppercase; font-weight: bold; /*color: #3071A8;*/ color: #fff; outline: none;}
.navbar-header a.h-title{font-size: 14px; text-transform: uppercase; font-weight: bold; color: #3071A8; outline: none;}
.navbar-header a.s-title:hover{text-decoration: underline; text-shadow: none; color: #fff;}
h4.l-header{color: #3071A8;}
/*----------- 
| Login
-------------*/
ul.login-drp-form{min-width: 350px; height: auto; padding: 0 10px 20px 10px; border-radius: 0 0 10px 10px;}
.login-form{padding: 5px 10px;}
span.input-label{font-weight: bold; text-align: left; color: #000;}
a.login-link{font-weight: bold; font-size: 12px;}

input[type=submit].login-btn{margin-top: 10px; font-weight: bold; font-size: 12px;}
input[type=submit].submit-btn{margin-top: 20px;}
a.forgot-btn{color: #666;}
.clear{clear: both;}
.error-sm{font-weight: bold; font-size: 12px;}

ul.nav li a{font-weight: bold;}
form input.form-control{border-radius: 0 0 0 0;}
form select.form-control{border-radius: 0 0 0 0;}
form select.sortbydate{padding: 12px 16px; border: 1px solid #ccc; font-weight: bold;}
form textarea.form-control{border-radius: 0 0 0 0; height: 60px;}
.before-input{margin-top: 5px;}

.before-input span.input-label-form{margin-top: 10px; font-weight: bold; text-align: left;} 

span.label-text{font-weight: bold; width: 200px; text-align: left;}
span.label-text-required{color: red; font-weight: bold;}
table tr th{font-size: 12px;}
img.media-object {width: 100px; height: 100px;}
input[type=submit].inside-span-btn{border: none; outline: none; background: transparent;}
.error{color: red; font-size: 11px; font-weight: bold; background: #f4f2f2; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; padding: 8px 0 3px 0;}
table{font-size: 12px; font-weight: bold;}
span.description-label{text-align: left;}

.navbar{background: #205081;}
.navbar ul.nav li a{color: #fff; font-weight: bold; font-size: 12px; font-family: Arial, Helvetica, sans-serif; text-shadow: none; outline: none;}
.navbar ul.nav li a:hover{color: #666; text-shadow: none; background: #f4f2f2;}
.navbar ul.nav li.logout-link a{margin-top: 10px;}
.navbar ul.nav li ul.dropdown-menu li a{color: #666;}

#wrap .title-panel{margin-top: -18px; border: 0;}
h4.title-panel-header{font-size: 12px; font-weight: normal; text-transform: uppercase; font-family: verdana; color: #666;}

.footer{margin-top: 20px;}
.inside-footer{text-align: left; font-size: 12px; font-weight: bold; padding: 10px 0 10px 0;}
.inside-footer img, .header-login img{width: 90%;}
.inside-footer ul{list-style: none; padding: 0; margin: 0;}
.inside-footer ul li{display: inline;}
.inside-footer ul li a{color: #666; padding: 0 10px;}
.inside-footer ul{border-top: 1px solid #f4f2f2; padding-top: 10px}

.caret-w{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
  border-bottom: 0 dotted;
  border-left: 5px solid transparent;
}

.startdate select.start{width: 110px; float: left; margin: 0 1px;}
/*
.input.error {
  display: none;
}*/

a.btn-xs-count{width: 80px;}
h3.panel-title{font-weight: bold;}
a.summary-lnk{}
a.summary-lnk{margin-left: 10px;}
div.list-group a{outline: none;}

div.header img{width: 100%;}
.certificate{
	/*background: url(../img/ml_water_mark.png) center bottom no-repeat;*/
	/*opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.water-mark{position: absolute; top: 2%;}
.loading-message{display: none;}