<?php echo $this->element('submenu/subjects'); ?>
<div class="gradelevels form col-md-3 nopadding">
<?php echo $this->Form->create('Gradelevel');?>

		
	<?php
		echo '<label for="">Grade Name</label>';
		echo $this->Form->input('id', array('label' => ''));
		echo $this->Form->input('name', array('label' => ''));
	?>

<?php echo $this->Form->submit(__('Save Information'), array('class' => 'btn btn-primary'));?>
</div>
<br />
