<div class="ratings form">
<?php echo $this->Form->create('Rating');?>
	<fieldset>
		<legend><?php echo __('Edit Rating'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('name');
		echo $this->Form->input('description');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit'));?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('Rating.id')), null, __('Are you sure you want to delete # %s?', $this->Form->value('Rating.id'))); ?></li>
		<li><?php echo $this->Html->link(__('List Ratings'), array('action' => 'index'));?></li>
		<li><?php echo $this->Html->link(__('List Studentratings'), array('controller' => 'studentratings', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Studentrating'), array('controller' => 'studentratings', 'action' => 'add')); ?> </li>
	</ul>
</div>
