<?php
	if (!empty($students)) {		
		//echo '<option value="">'.__('--------- Select Section --------').'</option>';
		$i=0;
		foreach ($students as $student):
			$i++;
			//echo '<input type="hidden" name="data[Schoolgrade][keyid]" value="'.$i.'">';
			echo '<input type="checkbox" name="data[Schoolgrade][student_id][]" value="'.$student['Studentschoolyear']['student_id'].'"> &nbsp;'.$student['Student']['lastname'].', '.$student['Student']['firstname'].' '.$student['Student']['middlename'].'<br />';
		endforeach;	
	}else{
		echo '<div class="error_message">No student were enrolled to this section.</div>';
	}
?>